@media (max-width: 1440px) {
    #sky {
        margin-top: -100px;
    }

    #mountain img {
        padding-top: 150px;
    }

    #hill img {
        padding-top: 280px;
    }

    .header {
        max-height: 800px;
    }


    .header_inner {
        max-height: 800px;
    }

    .header__bg::before {
        height: 250px;
    }

}
/*footer*/
@media (max-width: 1250px) {
    .footer {
        width: 100%;
        max-width: 1920px;
        padding: 120px 159px;
    }
}



@media (max-width: 1100px) {
    .footer {
        width: 100%;
        max-width: 1920px;
        padding: 120px 100px;
    }
}

@media (max-width: 990px) {
    .footer__right {
        flex-direction: column;
        width: 200px;
    }

    .footer__col:nth-child(2) {
        margin-top: 30px;
    }

}

@media (max-width: 750px) {
    .footer .container {
        flex-direction: column;
    }

    .footer__left {
        height:700px;
    }

    .footer .container {
        position: relative;
    }

    .footer__right {
        flex-direction: row;
        align-items: baseline;
        width: 400px;
        position: absolute;
        top: 200px;
    }
}

@media (max-width: 600px) {
    .footer__right {
        flex-direction: column-reverse;
        width: 200px;
        top: 200px;
    }
    .footer__col {
        margin-top: 30px;
    }


    .footer__left {
        height:900px;
    }
}

@media (max-width: 450px) {
    *{
        font-size: 14px;
    }
    .footer {
        width: 100%;
        max-width: 1920px;
        padding: 120px 50px;
    }
    .footer__left {
        width: 200px;
    }
}

@media (max-width: 1200px) {
    #sky {
        margin-top: -200px;
    }

    #mountain img {
        padding-top: 120px;
    }

    #hill img {
        padding-top: 250px;
    }

    .header {
        max-height: 700px;
    }

    .header_inner {
        max-height: 700px;
    }

    .header__bg::before {
        height: 220px;
    }

}

@media (max-width: 1000px) {
    #sky {
        margin-top: -200px;
    }

    #mountain img {
        padding-top: 120px;
    }

    #hill img {
        padding-top: 250px;
    }

    .header {
        max-height: 650px;
    }

    .header__bg::before {
        height: 200px;
    }

}

@media (max-width: 850px) {
    #sky {
        margin-top: -100px;
    }

    #mountain img {
        padding-top: 80px;
    }

    #hill img {
        padding-top: 250px;
    }

    .header {
        max-height: 600px;
    }

    .header__bg::before {
        height: 150px;
    }

}

@media (max-width: 650px) {
    #sky {
        margin-top: 0px;
    }

    #mountain img {
        padding-top: 30px;
    }

    #hill img {
        padding-top: 220px;
    }

    .header {
        max-height: 600px;
        min-width: 650px;
    }

    .header__bg::before {
        height: 150px;
    }

}