@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Playfair+Display:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP';
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

body {
    background: #0B1D26;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover,
a:hover i,
a:hover div {
    color: #FBD784;
    border-color: #F8D784;
}

li {
    list-style: none;
}


.header {
    width: 100%;
    max-width: 1920px;
    max-height: 1000px;
    height: calc(100vh + 300px);
    overflow: hidden;
}

/*Header bg*/
.header__bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__bg::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #0B1D26, transparent);
    z-index: 10000;
}

.header__bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
    z-index: -1;
}

.header__bg img,
.header__bg div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
}

#sky {
    z-index: -2;
}

#mountain img {
    padding-top: 200px;
}

#hill img {
    padding-top: 330px;
}



/*Header inner*/

.header_inner {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1920px;

    height: 100vh;
    max-height: 1100px;
    min-height: 500px;
    padding: 65px 80px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}

.header__inner .content {
    width: 100%;
    height: 100%;
    position: relative;
}

.header__title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding-top: 100px;

}

.header__top {
    position: relative;
    width: 100%;
    height: 25px;

    display: flex;
    align-items: center;
}


.header__navigation,
.header__account {
    display: flex;
    align-items: center;
}

.header__logo {
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    font-family: 'Playfair Display';
    font-size: 32px;
}

.header__navigation {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__navigation li:nth-child(2) {
    margin-left: 40px;
    margin-right: 40px;
}

.header__account {
    position: absolute;
    top: 0;
    right: 0;
}

.header__account i {
    width: 24px;
    height: 24px;
    border: 3px solid #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    border-radius: 50%;
    padding-left: 2.5px;
    padding-top: 3px;
}

.header__account div {
    margin-left: 8px;
}

.header__left {
    display: flex;
    position: absolute;
    align-items: center;
    left: 0;
    transform: translateY(-50%) rotate(90deg);
    top: 50%;
}

.header__left i {
    margin-left: 24px;
    transform: rotate(-90deg);
}

.title__top {
    color: #FBD784;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-left: 104px;

    position: relative;
}

.title__top::before {
    content: '';
    width: 72px;
    height: 2px;
    background: #FBD784;
    position: absolute;
    top: 50%;
    transform: translate(-104px, -50%);
}

.header__title h1 {
    font-family: 'Playfair Display';
    font-size: 60px;
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 700px;
    line-height: 70px;
    text-transform: capitalize;
}

.title__bottom {
    display: flex;
    align-items: center;
}

.title__bottom div {
    margin-right: 16px;
}

.title__bottom i {
    margin-top: 7px;
}

/*footer*/
.footer__right {
    display: flex;
}

.footer__col {
    display: flex;
    flex-direction: column;
    margin-left: 212px;
}

.col__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
    color: #FBD784;
}

.col__item {
    font-size: 18px;
    line-height: 42px;
}

.footer__left {
    height: inherit;
    position: relative;
}

.left__bottom {
    position: absolute;
    bottom: 0;
    opacity: 0.5;
}

.footer {
    width: 100%;
    max-width: 1920px;
    padding: 120px 229px;
}

.footer .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 24px;
}

/*items*/
.main {
    width: 100%;
    height: auto;
    max-width: 1920px;
    padding-left: 229px;
    padding-right: 229px;
    margin-top: 100px;
}

.main .container {
    height: auto;
    counter-reset: counter;
}

.main__item {
    max-height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 100px;
}

.main__item:nth-child(2n){
    flex-direction: row-reverse;
}

.main__item:nth-child(2n) .item__pic{
    margin-left: 0;
    margin-right: 50px;
}

.item__pic {
    width: 250px;
    height: inherit;

    margin-left: 50px;
}

.item__pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__text {
    position: relative;
    height: inherit;
    max-width: 600px;
    padding: 50px;
}

.item__title-bottom {
    font-family: 'Playfair Display';
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 10px;
}

.item__inner {
    margin-top: 20px;
    font-size: 12px;
}

.item__link div {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #FBD784;
}

.fa-long-arrow-right {
    color: #FBD784;
    margin-top: 20px;
    margin-left: 16px;
}

.item__text::before {
    content: '0'counter(counter);
    counter-increment: counter;
    position: absolute;
    font-weight: 700;
    font-size: 100px;
    line-height: 112px;
    color: #FFFFFF;
    letter-spacing: -5px;
    opacity: 0.1;
    left: 0;
    top: 0;
    z-index: -1;
}

.item__text:nth-child(n+10)::before {
    content: counter(counter);
}