@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Playfair+Display:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP';
    color: #fff;
}

body {
    background: #0B1D26;
    min-height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.header {
    width: 100%;
    max-width: 1920px;
    max-height: 1000px;
    height: calc(100vh + 300px);
    overflow: hidden;
}

/*Header bg*/
.header__bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__bg::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #0B1D26, transparent);
    z-index: 10000;
}

.header__bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
    z-index: -1;
}

.header__bg img,
.header__bg div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
}

#sky {
    z-index: -2;
}

#mountain img {
    padding-top: 200px;
}

#hill img {
    padding-top: 330px;
}


@media (max-width: 1440px) {
    #sky {
        margin-top: -100px;
    }

    #mountain img {
        padding-top: 150px;
    }

    #hill img {
        padding-top: 280px;
    }

    .header {
        max-height: 800px;
    }

    .header__bg::before {
        height: 250px;
    }

}


@media (max-width: 1200px) {
    #sky {
        margin-top: -200px;
    }

    #mountain img {
        padding-top: 120px;
    }

    #hill img {
        padding-top: 250px;
    }

    .header {
        max-height: 700px;
    }

    .header__bg::before {
        height: 220px;
    }

}

@media (max-width: 1000px) {
    #sky {
        margin-top: -200px;
    }

    #mountain img {
        padding-top: 120px;
    }

    #hill img {
        padding-top: 250px;
    }

    .header {
        max-height: 650px;
    }

    .header__bg::before {
        height: 200px;
    }

}

@media (max-width: 850px) {
    #sky {
        margin-top: -100px;
    }

    #mountain img {
        padding-top: 80px;
    }

    #hill img {
        padding-top: 250px;
    }

    .header {
        max-height: 600px;
    }

    .header__bg::before {
        height: 150px;
    }

}

@media (max-width: 650px) {
    #sky {
        margin-top: 0px;
    }

    #mountain img {
        padding-top: 30px;
    }

    #hill img {
        padding-top: 220px;
    }

    .header {
        max-height: 600px;
        min-width: 650px;
    }

    .header__bg::before {
        height: 150px;
    }

}

/*Header inner*/

.header_inner {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1920px;
    
    height: 100vh;
    max-height: 1100px;
    padding: 65px 80px;
}

.header__inner .content {
    width: 100%;
    height: 100%;
    position: relative;
}

.header__title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.header__top {
    position: relative;
    width: 100%;
    height: 25px;

    display: flex;
    align-items: center;
}


.header__navigation,
.header__account {
    display: flex;
    align-items: center;
}

.header__logo {
    position: absolute;
    top: 0;
    left: 0;
}

.header__navigation {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__account {
    position: absolute;
    top: 0;
    right: 0;
}

.header__left {
    display: flex;
    position: absolute;
    align-items: center;
    left: 0;
    transform: translateY(-50%) rotate(90deg);
    top: 50%;
}

.header__left i {
    margin-left: 24px;
    transform: rotate(-90deg);
}